In [136]:
import pandas as pd
import numpy as np

In [2]:
import os
import glob

In [128]:
path = r'C:\Users\jayth\Downloads\TB\FINAL\Prediction'
all_files = glob.glob(path + "/*.csv")
Data = pd.DataFrame()
for filename in all_files:
    df = pd.read_csv(filename, index_col=None, header=0)
    Data = pd.concat([Data , df])
Data

,State,District,Year,Rainfall,Relative Humidity,Average Temperature,NSP,Relapse,NSN Total,Relapse Total
0,Madhya Pradesh,Bhopal,2019-03-31,17.059174,53.150997,23.021095,573.85010,94.809296,348.83140,NaN
1,Madhya Pradesh,Bhopal,2019-06-30,43.749557,31.632440,21.954273,608.58160,109.635920,335.02430,NaN
2,Madhya Pradesh,Bhopal,2019-09-30,99.377170,28.725916,33.838013,640.81134,99.472100,374.43747,NaN
3,Madhya Pradesh,Bhopal,2019-12-31,563.735600,85.326280,27.357254,730.20140,99.270996,457.56840,NaN
4,Madhya Pradesh,Bhopal,2020-03-31,19.958000,53.806440,23.229113,560.29550,95.688460,406.34924,NaN
...,...,...,...,...,...,...,...,...,...,...
19,Madhya Pradesh,Ujjain,2023-12-31,315.942170,86.465320,28.728241,256.25510,NaN,263.89417,104.07295
20,Madhya Pradesh,Ujjain,2024-03-31,2.286714,59.675010,24.196453,191.21191,NaN,283.90305,100.01368
21,Madhya Pradesh,Ujjain,2024-06-30,-2.307305,30.208360,22.785500,211.58060,NaN,287.17892,120.91158
22,Madhya Pradesh,Ujjain,2024-09-30,19.138435,33.378563,35.504120,250.24135,NaN,292.54320,119.61848
23,Madhya Pradesh,Ujjain,2024-12-31,224.019530,86.863330,29.097237,267.43490,NaN,319.68262,106.34551

In [150]:
Data = Data[['State' , 'District' , 'Year' , 'Rainfall' , 'Relative Humidity' , 'Average Temperature' , 'NSP' , 'Relapse Total' , 'NSN Total']]

In [148]:
Data.drop('Relapse' , axis = 1 , inplace = True)

In [83]:
Andhra = Data

In [86]:
Assam = Data

In [91]:
Bihar = Data

In [94]:
Chandigarh = Data

In [101]:
Chhattisgarh = Data

In [104]:
Goa = Data

In [107]:
Gujarat = Data

In [112]:
Haryana = Data

In [116]:
HimachalPradesh = Data

In [119]:
Jharkhand = Data

In [122]:
Karnataka = Data

In [125]:
Kerala = Data

In [151]:
MadhyaPradesh = Data

In [46]:
Maharashtra = Data

In [48]:
Manipur = Data

In [50]:
Meghalaya =  Data

In [52]:
Mizoram = Data

In [54]:
Nagaland = Data

In [56]:
Odisha = Data

In [58]:
Punjab = Data

In [60]:
Rajasthan = Data

In [62]:
TamilNadu = Data

In [65]:
UttarPradesh = Data

In [67]:
WestBengal = Data

In [70]:
Train = pd.concat([Andhra , Assam , Bihar , Chandigarh , Chhattisgarh , Goa , Gujarat , Haryana , HimachalPradesh , Jharkhand , Karnataka , Kerala , MadhyaPradesh , Maharashtra , Manipur , Meghalaya , Mizoram , Nagaland , Odisha , Punjab , Rajasthan , TamilNadu , UttarPradesh , WestBengal])

In [79]:
Train.to_csv(r'Downloads/TB/Final/Train.csv' , index = False)

In [158]:
Test = pd.concat([Andhra , Assam , Bihar , Chandigarh , Chhattisgarh , Goa , Gujarat , Haryana , HimachalPradesh , Jharkhand , Karnataka , Kerala , MadhyaPradesh])

In [159]:
Test

,State,District,Year,Rainfall,Relative Humidity,Average Temperature,NSP Total,Relapse Total,NSN Total
0,Andhra Pradesh,Anantapur,2019-03-31,31.100056,62.503487,24.947218,692.19366,55.514507,215.95978
1,Andhra Pradesh,Anantapur,2019-06-30,88.055860,46.549770,27.651402,755.53880,60.780483,230.09021
2,Andhra Pradesh,Anantapur,2019-09-30,163.285610,50.513504,31.467983,681.75270,53.123070,247.26550
3,Andhra Pradesh,Anantapur,2019-12-31,474.435330,76.490270,29.525963,610.22437,42.505463,352.44174
4,Andhra Pradesh,Anantapur,2020-03-31,278.089750,74.036380,25.058422,704.64570,49.609444,293.21860
...,...,...,...,...,...,...,...,...,...
19,Madhya Pradesh,Ujjain,2023-12-31,315.942170,86.465320,28.728241,256.25510,104.072950,263.89417
20,Madhya Pradesh,Ujjain,2024-03-31,2.286714,59.675010,24.196453,191.21191,100.013680,283.90305
21,Madhya Pradesh,Ujjain,2024-06-30,-2.307305,30.208360,22.785500,211.58060,120.911580,287.17892
22,Madhya Pradesh,Ujjain,2024-09-30,19.138435,33.378563,35.504120,250.24135,119.618480,292.54320
23,Madhya Pradesh,Ujjain,2024-12-31,224.019530,86.863330,29.097237,267.43490,106.345510,319.68262

In [157]:
MadhyaPradesh.columns = Assam.columns

In [160]:
Test.to_csv(r'Downloads/TB/Final/Test.csv' , index = False)

In [162]:
Test['District'].unique()

array(['Anantapur', nan, 'East_Godavari', 'Guntur', 'Kurnool', 'Nellore',
       'Prakasam', 'Visakhapatnam', 'Vizianagaram', 'Bongaigaon',
       'Darrang', 'Dhemaji', 'Dibrugarh', 'Golaghat', 'Jorhat', 'Kamrup',
       'Karimganj', 'Lakhimpur', 'Sonitpur', 'Samastipur', 'Chandigarh',
       'Durg', 'Korba', 'North_Goa', 'South_Goa', 'Bharuch',
       'Gandhinagar', 'Jamnagar', 'Rajkot', 'Surat', 'Vadodara', 'Valsad',
       'Bhiwani', 'Panchkula', 'Yamunanagar', 'Kullu', 'Sirmaur', 'Solan',
       'Una', 'Dhanbad', 'Ranchi', 'Bidar', 'Chitradurga',
       'Dakshina Kannada', 'Davanagere', 'Hassan', 'Kolar', 'Mandya',
       'Raichur', 'Alappuzha', 'Ernakulam', 'Kollam', 'Kottayam',
       'Kozhikode', 'Palakkad', 'Thiruvananthapuram', 'Wayanad', 'Bhopal',
       'Chhatarpur', 'Gwalior', 'Indore', 'Jabalpur', 'Ratlam', 'Sagar',
       'Satna', 'Ujjain'], dtype=object)

In [167]:
yes = Train[:3080]

In [194]:
yes.to_csv(r'Downloads/Tb/Final/TemporaryTrain.csv' , index = False)

In [169]:
yes['District'].unique()

array(['ANANTAPUR', 'CHITTOOR', 'EASTGODAVARI', 'GUNTUR', 'KURNOOL',
       'NELLORE', 'PRAKASAM', 'VISAKHAPATNAM', 'VIZIANAGARAM',
       'BONGAIGAON', 'CACHAR', 'DARRANG', 'DHEMAJI', 'DIBRUGARH',
       'GOLAGHAT', 'JORHAT', 'KAMRUP', 'KARIMGANJ', 'LAKHIMPUR',
       'NALBARI', 'SONITPUR', 'PATNA', 'SAMASTIPUR', 'CHANDIGARH',
       'BILASPUR', 'DURG', 'KORBA', 'NORTHGOA', 'SOUTHGOA', 'BHARUCH',
       'GANDHINAGAR', 'JAMNAGAR', 'RAJKOT', 'SURAT', 'VADODARA', 'VALSAD',
       'BHIWANI', 'PANCHKULA', 'YAMUNANAGAR', 'KULLU', 'SIRMAUR', 'SOLAN',
       'UNA', 'DHANBAD', 'RANCHI', 'BIDAR', 'CHITRADURGA',
       'DAKSHINAKANNADA', 'DAVANAGERE', 'HASSAN', 'KOLAR', 'MANDYA',
       'RAICHUR', 'ALAPPUZHA', 'ERNAKULAM', 'KOLLAM', 'KOTTAYAM',
       'KOZHIKODE', 'PALAKKAD', 'THIRUVANANTHAPURAM', 'WAYANAD', 'BHOPAL',
       'CHHATARPUR', 'GWALIOR', 'INDORE', 'JABALPUR', 'RATLAM', 'SAGAR',
       'SATNA', 'UJJAIN'], dtype=object)

In [170]:
Test['District'].unique()

array(['Anantapur', nan, 'East_Godavari', 'Guntur', 'Kurnool', 'Nellore',
       'Prakasam', 'Visakhapatnam', 'Vizianagaram', 'Bongaigaon',
       'Darrang', 'Dhemaji', 'Dibrugarh', 'Golaghat', 'Jorhat', 'Kamrup',
       'Karimganj', 'Lakhimpur', 'Sonitpur', 'Samastipur', 'Chandigarh',
       'Durg', 'Korba', 'North_Goa', 'South_Goa', 'Bharuch',
       'Gandhinagar', 'Jamnagar', 'Rajkot', 'Surat', 'Vadodara', 'Valsad',
       'Bhiwani', 'Panchkula', 'Yamunanagar', 'Kullu', 'Sirmaur', 'Solan',
       'Una', 'Dhanbad', 'Ranchi', 'Bidar', 'Chitradurga',
       'Dakshina Kannada', 'Davanagere', 'Hassan', 'Kolar', 'Mandya',
       'Raichur', 'Alappuzha', 'Ernakulam', 'Kollam', 'Kottayam',
       'Kozhikode', 'Palakkad', 'Thiruvananthapuram', 'Wayanad', 'Bhopal',
       'Chhatarpur', 'Gwalior', 'Indore', 'Jabalpur', 'Ratlam', 'Sagar',
       'Satna', 'Ujjain'], dtype=object)

In [171]:
Test.head(48)

,State,District,Year,Rainfall,Relative Humidity,Average Temperature,NSP Total,Relapse Total,NSN Total
0,Andhra Pradesh,Anantapur,2019-03-31,31.100056,62.503487,24.947218,692.19366,55.514507,215.959780
1,Andhra Pradesh,Anantapur,2019-06-30,88.055860,46.549770,27.651402,755.53880,60.780483,230.090210
2,Andhra Pradesh,Anantapur,2019-09-30,163.285610,50.513504,31.467983,681.75270,53.123070,247.265500
3,Andhra Pradesh,Anantapur,2019-12-31,474.435330,76.490270,29.525963,610.22437,42.505463,352.441740
4,Andhra Pradesh,Anantapur,2020-03-31,278.089750,74.036380,25.058422,704.64570,49.609444,293.218600
5,Andhra Pradesh,Anantapur,2020-06-30,27.521353,42.465565,27.832836,738.18585,51.607616,378.459660
6,Andhra Pradesh,Anantapur,2020-09-30,-67.756240,49.813835,31.232271,723.14000,46.309807,363.414340
7,Andhra Pradesh,Anantapur,2020-12-31,243.743440,65.853750,29.140965,637.42523,39.624317,254.671780
8,Andhra Pradesh,Anantapur,2021-03-31,16.731205,67.132970,25.522919,665.68463,44.297333,304.095430
9,Andhra Pradesh,Anantapur,2021-06-30,326.524380,45.384197,28.321005,658.82030,46.065784,240.323500
10,Andhra Pradesh,Anantapur,2021-09-30,361.370820,52.209640,31.354952,686.90247,39.806374,293.615780
11,Andhra Pradesh,Anantapur,2021-12-31,495.607150,74.924180,29.652138,630.01276,33.433697,314.493650
12,Andhra Pradesh,Anantapur,2022-03-31,364.973020,70.847360,25.620852,621.19060,39.120506,268.791350
13,Andhra Pradesh,Anantapur,2022-06-30,42.274510,43.068573,28.448298,631.10736,39.615665,371.768070
14,Andhra Pradesh,Anantapur,2022-09-30,-177.801360,48.211430,30.946783,630.03640,36.163147,333.651200
15,Andhra Pradesh,Anantapur,2022-12-31,28.505054,66.860600,29.326097,578.43380,30.929161,343.756870
16,Andhra Pradesh,Anantapur,2023-03-31,78.015400,68.056010,26.180359,568.17650,34.798763,366.186900
17,Andhra Pradesh,Anantapur,2023-06-30,585.550400,43.861480,28.609596,585.51260,35.308920,262.391400
18,Andhra Pradesh,Anantapur,2023-09-30,614.311400,51.959240,30.971972,575.30664,29.918135,357.985720
19,Andhra Pradesh,Anantapur,2023-12-31,497.966060,71.824550,29.267454,536.02045,26.152596,314.188720
20,Andhra Pradesh,Anantapur,2024-03-31,128.309500,69.012110,26.326733,524.33550,31.107687,313.858120
21,Andhra Pradesh,Anantapur,2024-06-30,-2.311171,43.419376,28.466423,534.33466,31.148748,338.332500
22,Andhra Pradesh,Anantapur,2024-09-30,26.018980,48.281810,30.413155,528.02440,27.613804,259.852900
23,Andhra Pradesh,Anantapur,2024-12-31,51.156025,67.631520,29.010202,494.36295,24.199799,378.591860
0,NaN,NaN,2019-03-31,198.101650,74.143326,26.214706,621.68740,90.815500,180.812360
1,NaN,NaN,2019-06-30,17.561625,62.643870,26.982864,632.79730,98.282550,188.473100
2,NaN,NaN,2019-09-30,274.085330,59.967320,30.908880,618.74890,97.481810,172.615830
3,NaN,NaN,2019-12-31,404.068730,72.030480,29.749537,636.03876,101.603836,153.302280
4,NaN,NaN,2020-03-31,517.187300,76.069350,25.784164,647.70530,101.178220,167.156540
5,NaN,NaN,2020-06-30,16.361843,60.725037,26.408234,658.21420,99.861100,164.810350
6,NaN,NaN,2020-09-30,16.632587,57.400864,31.190210,651.24835,101.589810,139.766080
7,NaN,NaN,2020-12-31,299.783970,67.736916,30.295748,645.77700,98.852900,136.645830
8,NaN,NaN,2021-03-31,851.655200,70.552010,25.878862,623.13510,101.482610,144.864610
9,NaN,NaN,2021-06-30,50.935780,62.102610,25.721542,625.26776,101.719070,144.859700
10,NaN,NaN,2021-09-30,345.684230,58.537388,31.553595,627.73970,102.261856,131.000200
11,NaN,NaN,2021-12-31,119.734436,65.564995,31.012243,630.93160,102.627570,120.418750
12,NaN,NaN,2022-03-31,-165.598250,67.249770,26.102394,630.37690,102.069900,128.425950
13,NaN,NaN,2022-06-30,72.652115,60.033287,25.395190,625.67220,102.461790,124.012860
14,NaN,NaN,2022-09-30,355.566530,58.180984,31.843628,619.17505,102.538050,112.566440
15,NaN,NaN,2022-12-31,1015.540160,60.804764,31.929787,615.93930,102.544174,108.335870
16,NaN,NaN,2023-03-31,587.605040,61.489060,26.556955,608.99536,102.730190,109.775460
17,NaN,NaN,2023-06-30,329.849500,58.739890,25.199778,609.33685,102.732544,107.549934
18,NaN,NaN,2023-09-30,-625.568500,56.667526,32.268440,608.53130,102.901184,99.639690
19,NaN,NaN,2023-12-31,-440.166800,57.682896,33.055874,606.44300,102.931290,94.165344
20,NaN,NaN,2024-03-31,-655.266600,57.297283,27.216360,602.77720,102.946950,94.616030
21,NaN,NaN,2024-06-30,1278.367100,54.591656,25.251350,598.78130,103.037730,90.838350
22,NaN,NaN,2024-09-30,1249.641500,53.640205,32.765846,594.32446,103.061290,85.911250
23,NaN,NaN,2024-12-31,-96.479410,53.790230,34.214348,592.10095,103.163760,82.350464

In [181]:
Test['State'] = Test['State'].fillna('Andhra Pradesh')

In [182]:
Test['District'] = Test['District'].fillna('Chittoor')

In [184]:
Test['District'].unique()

array(['Anantapur', 'Chittoor', 'East_Godavari', 'Guntur', 'Kurnool',
       'Nellore', 'Prakasam', 'Visakhapatnam', 'Vizianagaram',
       'Bongaigaon', 'Darrang', 'Dhemaji', 'Dibrugarh', 'Golaghat',
       'Jorhat', 'Kamrup', 'Karimganj', 'Lakhimpur', 'Sonitpur',
       'Samastipur', 'Chandigarh', 'Durg', 'Korba', 'North_Goa',
       'South_Goa', 'Bharuch', 'Gandhinagar', 'Jamnagar', 'Rajkot',
       'Surat', 'Vadodara', 'Valsad', 'Bhiwani', 'Panchkula',
       'Yamunanagar', 'Kullu', 'Sirmaur', 'Solan', 'Una', 'Dhanbad',
       'Ranchi', 'Bidar', 'Chitradurga', 'Dakshina Kannada', 'Davanagere',
       'Hassan', 'Kolar', 'Mandya', 'Raichur', 'Alappuzha', 'Ernakulam',
       'Kollam', 'Kottayam', 'Kozhikode', 'Palakkad',
       'Thiruvananthapuram', 'Wayanad', 'Bhopal', 'Chhatarpur', 'Gwalior',
       'Indore', 'Jabalpur', 'Ratlam', 'Sagar', 'Satna', 'Ujjain'],
      dtype=object)

In [185]:
yes['District'].unique()

array(['ANANTAPUR', 'CHITTOOR', 'EASTGODAVARI', 'GUNTUR', 'KURNOOL',
       'NELLORE', 'PRAKASAM', 'VISAKHAPATNAM', 'VIZIANAGARAM',
       'BONGAIGAON', 'CACHAR', 'DARRANG', 'DHEMAJI', 'DIBRUGARH',
       'GOLAGHAT', 'JORHAT', 'KAMRUP', 'KARIMGANJ', 'LAKHIMPUR',
       'NALBARI', 'SONITPUR', 'PATNA', 'SAMASTIPUR', 'CHANDIGARH',
       'BILASPUR', 'DURG', 'KORBA', 'NORTHGOA', 'SOUTHGOA', 'BHARUCH',
       'GANDHINAGAR', 'JAMNAGAR', 'RAJKOT', 'SURAT', 'VADODARA', 'VALSAD',
       'BHIWANI', 'PANCHKULA', 'YAMUNANAGAR', 'KULLU', 'SIRMAUR', 'SOLAN',
       'UNA', 'DHANBAD', 'RANCHI', 'BIDAR', 'CHITRADURGA',
       'DAKSHINAKANNADA', 'DAVANAGERE', 'HASSAN', 'KOLAR', 'MANDYA',
       'RAICHUR', 'ALAPPUZHA', 'ERNAKULAM', 'KOLLAM', 'KOTTAYAM',
       'KOZHIKODE', 'PALAKKAD', 'THIRUVANANTHAPURAM', 'WAYANAD', 'BHOPAL',
       'CHHATARPUR', 'GWALIOR', 'INDORE', 'JABALPUR', 'RATLAM', 'SAGAR',
       'SATNA', 'UJJAIN'], dtype=object)

In [190]:
yes = yes[yes.District != 'BILASPUR']

In [192]:
yes['District'].unique()

array(['ANANTAPUR', 'CHITTOOR', 'EASTGODAVARI', 'GUNTUR', 'KURNOOL',
       'NELLORE', 'PRAKASAM', 'VISAKHAPATNAM', 'VIZIANAGARAM',
       'BONGAIGAON', 'DARRANG', 'DHEMAJI', 'DIBRUGARH', 'GOLAGHAT',
       'JORHAT', 'KAMRUP', 'KARIMGANJ', 'LAKHIMPUR', 'SONITPUR',
       'SAMASTIPUR', 'CHANDIGARH', 'DURG', 'KORBA', 'NORTHGOA',
       'SOUTHGOA', 'BHARUCH', 'GANDHINAGAR', 'JAMNAGAR', 'RAJKOT',
       'SURAT', 'VADODARA', 'VALSAD', 'BHIWANI', 'PANCHKULA',
       'YAMUNANAGAR', 'KULLU', 'SIRMAUR', 'SOLAN', 'UNA', 'DHANBAD',
       'RANCHI', 'BIDAR', 'CHITRADURGA', 'DAKSHINAKANNADA', 'DAVANAGERE',
       'HASSAN', 'KOLAR', 'MANDYA', 'RAICHUR', 'ALAPPUZHA', 'ERNAKULAM',
       'KOLLAM', 'KOTTAYAM', 'KOZHIKODE', 'PALAKKAD',
       'THIRUVANANTHAPURAM', 'WAYANAD', 'BHOPAL', 'CHHATARPUR', 'GWALIOR',
       'INDORE', 'JABALPUR', 'RATLAM', 'SAGAR', 'SATNA', 'UJJAIN'],
      dtype=object)

In [193]:
Test['District'].unique()

array(['Anantapur', 'Chittoor', 'East_Godavari', 'Guntur', 'Kurnool',
       'Nellore', 'Prakasam', 'Visakhapatnam', 'Vizianagaram',
       'Bongaigaon', 'Darrang', 'Dhemaji', 'Dibrugarh', 'Golaghat',
       'Jorhat', 'Kamrup', 'Karimganj', 'Lakhimpur', 'Sonitpur',
       'Samastipur', 'Chandigarh', 'Durg', 'Korba', 'North_Goa',
       'South_Goa', 'Bharuch', 'Gandhinagar', 'Jamnagar', 'Rajkot',
       'Surat', 'Vadodara', 'Valsad', 'Bhiwani', 'Panchkula',
       'Yamunanagar', 'Kullu', 'Sirmaur', 'Solan', 'Una', 'Dhanbad',
       'Ranchi', 'Bidar', 'Chitradurga', 'Dakshina Kannada', 'Davanagere',
       'Hassan', 'Kolar', 'Mandya', 'Raichur', 'Alappuzha', 'Ernakulam',
       'Kollam', 'Kottayam', 'Kozhikode', 'Palakkad',
       'Thiruvananthapuram', 'Wayanad', 'Bhopal', 'Chhatarpur', 'Gwalior',
       'Indore', 'Jabalpur', 'Ratlam', 'Sagar', 'Satna', 'Ujjain'],
      dtype=object)