In [1]:
import pandas as pd

In [2]:
final = pd.read_csv("Final_Prediction_Dataset.csv")

In [3]:
final.head()

   Unnamed: 0  Unnamed: 0.1        Date        HIV DISTRICT
0           0             0  2019-03-31  13.304910    Akola
1           1             1  2019-06-30  14.230469    Akola
2           2             2  2019-09-30   7.910110    Akola
3           3             3  2019-12-31   5.222351    Akola
4           4             4  2020-03-31  14.549979    Akola

In [4]:
neural = pd.read_csv('NeuralNetworkOutput.csv')

In [5]:
forest = pd.read_csv('RandomForestOutput.csv')

In [6]:
neural.head()

   Unnamed: 0  Total No of Cases  Month  Year
0           0          212.33650      3  2019
1           1          244.02140      6  2019
2           2          228.62392      9  2019
3           3          199.23534     12  2019
4           4          311.14642      3  2020

In [7]:
neural.drop('Unnamed: 0' , axis = 1 , inplace = True)

In [8]:
neural.shape

(448, 3)

In [9]:
forest.head()

   Unnamed: 0  Total No of Cases  Month  Year
0           0             224.51      3  2019
1           1             240.00      6  2019
2           2             228.00      9  2019
3           3             227.27     12  2019
4           4             237.92      3  2020

In [10]:
forest.drop("Unnamed: 0" , axis = 1 , inplace = True)

In [11]:
forest.head()

   Total No of Cases  Month  Year
0             224.51      3  2019
1             240.00      6  2019
2             228.00      9  2019
3             227.27     12  2019
4             237.92      3  2020

In [12]:
forest.shape

(448, 3)

In [13]:
neural['District'] = final['DISTRICT']

In [14]:
forest['District'] = final['DISTRICT']

In [15]:
neural.head()

   Total No of Cases  Month  Year District
0          212.33650      3  2019    Akola
1          244.02140      6  2019    Akola
2          228.62392      9  2019    Akola
3          199.23534     12  2019    Akola
4          311.14642      3  2020    Akola

In [16]:
final.head()

   Unnamed: 0  Unnamed: 0.1        Date        HIV DISTRICT
0           0             0  2019-03-31  13.304910    Akola
1           1             1  2019-06-30  14.230469    Akola
2           2             2  2019-09-30   7.910110    Akola
3           3             3  2019-12-31   5.222351    Akola
4           4             4  2020-03-31  14.549979    Akola

In [17]:
forest.head()

   Total No of Cases  Month  Year District
0             224.51      3  2019    Akola
1             240.00      6  2019    Akola
2             228.00      9  2019    Akola
3             227.27     12  2019    Akola
4             237.92      3  2020    Akola

In [18]:
neural.to_csv(r'Downloads/TB/Prediction/NeuralNetworkOutput.csv' , index=False)

In [19]:
forest.to_csv(r'Downloads/TB/Prediction/RandomForestOutput.csv' , index=False)

In [ ]:
3.