In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("climate(2000-2018) (1).csv")

In [3]:
df.head()

,Location,year,quarter,rainfall,relative_humidity,average_temperature
0,ANDHRAPRADESH_ANANTAPUR,2016,1,28.7,49.218217,22.909616
1,ANDHRAPRADESH_ANANTAPUR,2005,4,168.2,84.043864,23.557007
2,ANDHRAPRADESH_ANANTAPUR,2007,4,139.2,78.096692,23.739606
3,ANDHRAPRADESH_ANANTAPUR,2008,4,173.3,74.431233,23.816882
4,ANDHRAPRADESH_ANANTAPUR,2004,4,82.2,70.894351,23.849821

In [7]:
sort = df.sort_values(by=['Location' , 'year' , 'quarter'])

In [9]:
sort.head(30)

,Location,year,quarter,rainfall,relative_humidity,average_temperature
25,ANDHRAPRADESH_ANANTAPUR,2000,1,36.2,46.667620,25.839080
59,ANDHRAPRADESH_ANANTAPUR,2000,2,177.9,53.960308,29.236667
27,ANDHRAPRADESH_ANANTAPUR,2000,3,337.1,74.711817,25.938961
5,ANDHRAPRADESH_ANANTAPUR,2000,4,184.0,71.746896,23.860681
35,ANDHRAPRADESH_ANANTAPUR,2001,1,5.8,40.254862,26.228187
63,ANDHRAPRADESH_ANANTAPUR,2001,2,79.3,52.739570,29.604785
41,ANDHRAPRADESH_ANANTAPUR,2001,3,344.8,72.144398,26.606237
6,ANDHRAPRADESH_ANANTAPUR,2001,4,208.5,81.542333,23.987616
24,ANDHRAPRADESH_ANANTAPUR,2002,1,16.8,50.530465,25.760215
64,ANDHRAPRADESH_ANANTAPUR,2002,2,125.2,53.608817,29.722366
48,ANDHRAPRADESH_ANANTAPUR,2002,3,103.1,65.227122,27.066649
10,ANDHRAPRADESH_ANANTAPUR,2002,4,91.3,69.907763,24.480430
42,ANDHRAPRADESH_ANANTAPUR,2003,1,12.5,46.401632,26.609005
72,ANDHRAPRADESH_ANANTAPUR,2003,2,43.4,44.612846,30.892115
46,ANDHRAPRADESH_ANANTAPUR,2003,3,163.1,68.792179,27.022599
9,ANDHRAPRADESH_ANANTAPUR,2003,4,127.2,71.625111,24.469444
28,ANDHRAPRADESH_ANANTAPUR,2004,1,10.0,43.617408,25.975399
57,ANDHRAPRADESH_ANANTAPUR,2004,2,274.4,63.685172,28.776147
34,ANDHRAPRADESH_ANANTAPUR,2004,3,315.6,74.683108,26.215968
4,ANDHRAPRADESH_ANANTAPUR,2004,4,82.2,70.894351,23.849821
39,ANDHRAPRADESH_ANANTAPUR,2005,1,16.8,43.473260,26.374098
66,ANDHRAPRADESH_ANANTAPUR,2005,2,170.8,58.865122,29.851237
33,ANDHRAPRADESH_ANANTAPUR,2005,3,1331.8,80.261104,26.210054
1,ANDHRAPRADESH_ANANTAPUR,2005,4,168.2,84.043864,23.557007
16,ANDHRAPRADESH_ANANTAPUR,2006,1,54.6,54.756959,25.047734
62,ANDHRAPRADESH_ANANTAPUR,2006,2,220.0,55.297358,29.473674
45,ANDHRAPRADESH_ANANTAPUR,2006,3,170.7,71.244703,26.849319
7,ANDHRAPRADESH_ANANTAPUR,2006,4,137.2,75.327953,24.374695
23,ANDHRAPRADESH_ANANTAPUR,2007,1,2.5,45.376655,25.681413
60,ANDHRAPRADESH_ANANTAPUR,2007,2,322.6,58.576932,29.362688

In [10]:
sort.to_csv(r'Downloads/TB/Final/SortedClimate.csv' , index = False)