In [1]:
import pandas as pd

In [2]:
barpeta = pd.read_csv("BARPETA - BARPETA.csv.csv")

In [3]:
bongaigaon = pd.read_excel("BONGAIGAON.xlsx")

In [4]:
cachar = pd.read_excel("CACHAR.xlsx")

In [5]:
darrang = pd.read_excel("DARRANG.xlsx")

In [6]:
dhemaji = pd.read_excel("DHEMAJI.xlsx")

In [7]:
dhubri = pd.read_excel("DHUBRI.xlsx")

In [8]:
dibrugarh = pd.read_excel("DIBRUGARH.xlsx")

In [9]:
goalpara = pd.read_excel("GOALPARA.xlsx")

In [10]:
golaghat = pd.read_excel("GOLAGHAT.xlsx")

In [11]:
hailakandi = pd.read_excel("HAILAKANDI.xlsx")

In [12]:
jorhat = pd.read_excel("JORHAT.xlsx")

In [13]:
kamrup = pd.read_excel("KAMRUP.xlsx")

In [14]:
karbi_anglong = pd.read_excel("KARBI_ANGLONG FINAL.xlsx")

In [15]:
karimganj = pd.read_excel("KARIMGANJ.xlsx")

In [16]:
kokrajhar = pd.read_excel("KOKRAJHAR.xlsx")

In [17]:
lakhimpur = pd.read_excel("LAKHIMPUR.xlsx")

In [18]:
marigaon = pd.read_excel("MARIGAON.xlsx")

In [19]:
nagaon = pd.read_excel("NAGAON.xlsx")

In [20]:
nalbari = pd.read_excel("NALBARI.xlsx")

In [21]:
north_cachar_hills = pd.read_excel("NORTH_CACHAR_HILLS.xlsx")

In [22]:
sibsagar = pd.read_excel("SIBSAGAR.xlsx")

In [23]:
sonitpur = pd.read_excel("SONITPUR.xlsx")

In [24]:
tinsukia = pd.read_excel("TINSUKIA.xlsx")

In [25]:
amritsar = pd.read_excel("AMRITSAR.xlsx")

In [26]:
barnala = pd.read_excel("BARNALA.xlsx")

In [27]:
bathinda = pd.read_excel("BATHINDA.xlsx")

In [28]:
faridkot = pd.read_excel("FARIDKOT.xlsx")

In [29]:
firozpur = pd.read_excel("FIROZPUR.xlsx")

In [30]:
gurdaspur = pd.read_excel("GURDASPUR.xlsx")

In [31]:
hoshiarpur = pd.read_excel("HOSHIARPUR.xlsx")

In [32]:
jalandhar = pd.read_excel("JALANDHAR.xlsx")

In [33]:
kapurthala = pd.read_excel("KAPURTHALA.xlsx")

In [34]:
ludhiana = pd.read_excel("LUDHIANA.xlsx")

In [35]:
mansa_final = pd.read_excel("MANSA-FINAL.xlsx")

In [36]:
moga = pd.read_excel("MOGA.xlsx")

In [37]:
mohali = pd.read_excel("MOHALI.xlsx")

In [38]:
muktsar = pd.read_excel("MUKTSAR.xlsx")

In [39]:
nawansahr = pd.read_excel("NAWANSHAHR.xlsx")

In [40]:
patiala = pd.read_excel("PATIALA.xlsx")

In [41]:
rupnagar = pd.read_excel("RUPNAGAR.xlsx")

In [42]:
sangrur = pd.read_excel("SANGRUR.xlsx")

In [43]:
df = pd.DataFrame(barpeta)

In [47]:
Assam = pd.concat([df , bongaigaon , cachar , darrang , dhemaji , dhubri , dibrugarh , goalpara , golaghat , hailakandi , jorhat , kamrup , karbi_anglong , karimganj , kokrajhar , lakhimpur , marigaon , nagaon , nalbari , north_cachar_hills , sibsagar , sonitpur , tinsukia])

In [48]:
df = pd.DataFrame(amritsar)

In [52]:
Punjab = pd.concat([df , barnala , bathinda , faridkot , firozpur , gurdaspur , hoshiarpur , jalandhar , kapurthala , ludhiana , mansa_final , moga , mohali , muktsar , nawansahr , patiala , rupnagar , sangrur])

In [54]:
Train = pd.concat([Assam , Punjab])

In [55]:
Train.head()

,Unnamed: 0,STATE,DISTRICT,QTR,YR,NSP Male/ NewMicConfMale,NSP Female/ NewMicConf Female,NSP Total/ NewMicConf Total,NEP Male,NEP Female,...,35-44 yrs NSP(NewAll207+) Female,45-54 yrs NSP(NewAll207+) Male,45-54 yrs NSP(NewAll207+) Female,55-64 yrs NSP(NewAll207+) Male,55-64 yrs NSP(NewAll207+) Female,65 & above yrs NSP(NewAll207+) Male,65 & above yrs NSP(NewAll207+) Female,Total Failure,SumOfHIV_Tested,SumOfHIV_infected
0,0,Assam,BARPETA,1,2008,128,56,184,20,20,...,10,19,5,15,5,12,2,2,0,0
1,1,Assam,BARPETA,2,2008,168,48,216,36,25,...,10,30,5,24,6,24,2,9,0,0
2,2,Assam,BARPETA,3,2008,132,40,172,32,18,...,10,28,2,13,1,16,2,8,0,0
3,3,Assam,BARPETA,4,2008,134,38,172,19,12,...,7,22,3,18,5,6,1,8,0,0
4,4,Assam,BARPETA,1,2009,145,39,184,27,22,...,5,23,7,19,2,23,1,5,20,0

In [57]:
Train.drop('Unnamed: 0' , axis = 1 , inplace = True)

In [58]:
Train.head()

,STATE,DISTRICT,QTR,YR,NSP Male/ NewMicConfMale,NSP Female/ NewMicConf Female,NSP Total/ NewMicConf Total,NEP Male,NEP Female,0-14 yrs NSP(NewAll207+) Male,...,35-44 yrs NSP(NewAll207+) Female,45-54 yrs NSP(NewAll207+) Male,45-54 yrs NSP(NewAll207+) Female,55-64 yrs NSP(NewAll207+) Male,55-64 yrs NSP(NewAll207+) Female,65 & above yrs NSP(NewAll207+) Male,65 & above yrs NSP(NewAll207+) Female,Total Failure,SumOfHIV_Tested,SumOfHIV_infected
0,Assam,BARPETA,1,2008,128,56,184,20,20,3,...,10,19,5,15,5,12,2,2,0,0
1,Assam,BARPETA,2,2008,168,48,216,36,25,0,...,10,30,5,24,6,24,2,9,0,0
2,Assam,BARPETA,3,2008,132,40,172,32,18,0,...,10,28,2,13,1,16,2,8,0,0
3,Assam,BARPETA,4,2008,134,38,172,19,12,0,...,7,22,3,18,5,6,1,8,0,0
4,Assam,BARPETA,1,2009,145,39,184,27,22,2,...,5,23,7,19,2,23,1,5,20,0

In [59]:
Train.to_csv(r'Downloads/TB/Iteration2/Train.csv' , index = False)

In [60]:
state = pd.get_dummies(Train['STATE'])

In [61]:
state.head()

   Assam  Punjab
0      1       0
1      1       0
2      1       0
3      1       0
4      1       0

In [62]:
district = pd.get_dummies(Train['DISTRICT'])

In [63]:
district.head()

,AMRITSAR,BARNALA,BARPETA,BATHINDA,BONGAIGAON,CACHAR,DARRANG,DHEMAJI,DHUBRI,DIBRUGARH,...,NALBARI,NAWANSHAHR,NORTH CACHAR HILLS,NORTH_CACHAR_HILLS,PATIALA,RUPNAGAR,SANGRUR,SIBSAGAR,SONITPUR,TINSUKIA
0,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [65]:
training_dataset = pd.concat([Train , state , district] , axis = 1)

In [67]:
training_dataset.drop(['STATE' , 'DISTRICT'] , axis = 1 , inplace = True)

In [68]:
training_dataset.head()

,QTR,YR,NSP Male/ NewMicConfMale,NSP Female/ NewMicConf Female,NSP Total/ NewMicConf Total,NEP Male,NEP Female,0-14 yrs NSP(NewAll207+) Male,0-14 yrs NSP(NewAll207+) Female,15-24 yrs NSP(NewAll207+) Male,...,NALBARI,NAWANSHAHR,NORTH CACHAR HILLS,NORTH_CACHAR_HILLS,PATIALA,RUPNAGAR,SANGRUR,SIBSAGAR,SONITPUR,TINSUKIA
0,1,2008,128,56,184,20,20,3,5,26,...,0,0,0,0,0,0,0,0,0,0
1,2,2008,168,48,216,36,25,0,4,26,...,0,0,0,0,0,0,0,0,0,0
2,3,2008,132,40,172,32,18,0,4,22,...,0,0,0,0,0,0,0,0,0,0
3,4,2008,134,38,172,19,12,0,1,29,...,0,0,0,0,0,0,0,0,0,0
4,1,2009,145,39,184,27,22,2,0,24,...,0,0,0,0,0,0,0,0,0,0

In [69]:
training_dataset.columns

Index(['QTR', 'YR', 'NSP Male/ NewMicConfMale',
       'NSP Female/ NewMicConf Female', 'NSP Total/ NewMicConf Total',
       'NEP Male', 'NEP Female', '0-14 yrs NSP(NewAll207+) Male',
       '0-14 yrs NSP(NewAll207+) Female', '15-24 yrs NSP(NewAll207+) Male',
       '15-24 yrs NSP(NewAll207+) Female', '25-34 yrs NSP(NewAll207+) Male',
       '25-34 yrs NSP(NewAll207+) Female', '35-44 yrs NSP(NewAll207+) Male',
       '35-44 yrs NSP(NewAll207+) Female', '45-54 yrs NSP(NewAll207+) Male',
       '45-54 yrs NSP(NewAll207+) Female', '55-64 yrs NSP(NewAll207+) Male',
       '55-64 yrs NSP(NewAll207+) Female',
       '65 & above yrs NSP(NewAll207+) Male',
       '65 & above yrs NSP(NewAll207+) Female', 'Total Failure',
       'SumOfHIV_Tested', 'SumOfHIV_infected', 'Assam', 'Punjab', 'AMRITSAR',
       'BARNALA', 'BARPETA', 'BATHINDA', 'BONGAIGAON', 'CACHAR', 'DARRANG',
       'DHEMAJI', 'DHUBRI', 'DIBRUGARH', 'FARIDKOT', 'FIROZPUR', 'GOALPARA',
       'GOLAGHAT', 'GURDASPUR', 'HAILAKANDI', 'HOSHIARPUR', 'JALANDHAR',
       'JORHAT', 'KAMRUP', 'KAPURTHALA', 'KARBI ANGLONG', 'KARBI_ANGLONG',
       'KARIMGANJ', 'KOKRAJHAR', 'LAKHIMPUR', 'LUDHIANA', 'MANSA', 'MANSA-PN',
       'MANSA-PU', 'MARIGAON', 'MOGA', 'MOHALI', 'MUKTSAR', 'NAGAON',
       'NALBARI', 'NAWANSHAHR', 'NORTH CACHAR HILLS', 'NORTH_CACHAR_HILLS',
       'PATIALA', 'RUPNAGAR', 'SANGRUR', 'SIBSAGAR', 'SONITPUR', 'TINSUKIA'],
      dtype='object')

In [71]:
training_dataset.to_csv(r'Downloads/TB/Iteration2/Training_Dataset.csv' , index = False)