In [ ]:
import pandas as pd

In [ ]:
from numpy import array
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import Flatten
from keras.layers.convolutional import Conv1D
from keras.layers.convolutional import MaxPooling1D

In [ ]:
def split_sequence(sequence, n_steps):
	X, y = list(), list()
	for i in range(len(sequence)):
		# find the end of this pattern
		end_ix = i + n_steps
		# check if we are beyond the sequence
		if end_ix > len(sequence)-1:
			break
		# gather input and output parts of the pattern
		seq_x, seq_y = sequence[i:end_ix], sequence[end_ix]
		X.append(seq_x)
		y.append(seq_y)
	return array(X), array(y)

In [ ]:
df = pd.read_csv("Anantapur.csv")

In [ ]:
df.head()

            STATE   DISTRICT  ...  SumOfHIV_Tested  SumOfHIV_infected
0  Andhra Pradesh  ANANTAPUR  ...            199.0               50.0
1  Andhra Pradesh  ANANTAPUR  ...            170.0               68.0
2  Andhra Pradesh  ANANTAPUR  ...            263.0               73.0
3  Andhra Pradesh  ANANTAPUR  ...            369.0               72.0
4  Andhra Pradesh  ANANTAPUR  ...            605.0              109.0

[5 rows x 29 columns]

In [ ]:
raw_seq = df['NSP Total/ NewMicConf Total']

In [ ]:
n_steps = 8

In [ ]:
X, y = split_sequence(raw_seq, n_steps)

In [ ]:
n_features = 1

In [ ]:
X = X.reshape((X.shape[0], X.shape[1], n_features))

In [ ]:
model = Sequential()
model.add(Conv1D(filters=64, kernel_size=2, activation='relu', input_shape=(n_steps, n_features)))
model.add(MaxPooling1D(pool_size=2))
model.add(Flatten())
model.add(Dense(50, activation='relu'))
model.add(Dense(1))
model.compile(optimizer='adam', loss='mse')

In [ ]:
model.fit(X, y, epochs=1000, verbose=0)

In [ ]:
resArray = list(X[-1])

In [ ]:
for i in range(0 , 24):
  abc = resArray[i:i+8]
  x_input = array(abc).astype('float32')
  x_input = x_input.reshape((1, n_steps, n_features))
  resArray.append(model.predict(x_input, verbose=0))

In [ ]:
range1 = pd.date_range(start='1/1/2008', periods=44, freq='Q')

In [ ]:
range2 = pd.date_range(start='1/1/2019', periods=24, freq='Q')

In [ ]:
output = array(resArray[8:]).flatten()

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
plt.plot(range1 , raw_seq)
plt.plot(range2 , output , 'r')

In [ ]:
result = pd.DataFrame(output , columns = ['NSP Total'])

In [ ]:
result['Year'] = range2

In [ ]:
raw_seq2 = df['Relapse Male'] + df['Relapse Female']

In [ ]:
X2, y2 = split_sequence(raw_seq2, n_steps)

In [ ]:
X2 = X2.reshape((X2.shape[0], X2.shape[1], n_features))

In [ ]:
model.fit(X2, y2, epochs=1000, verbose=0)

In [ ]:
resArray2 = list(X2[-1])

In [ ]:
for i in range(0 , 24):
  abc = resArray2[i:i+8]
  x_input = array(abc).astype('float32')
  x_input = x_input.reshape((1, n_steps, n_features))
  resArray2.append(model.predict(x_input, verbose=0))

In [ ]:
output = array(resArray2[8:]).flatten()

In [ ]:
result['Relapse Total'] = output

In [ ]:
raw_seq3 = df['NSN Male/NewClinDiag Male'] + df['NSN Female/NewClinDiag Female']

In [ ]:
X3, y3 = split_sequence(raw_seq3, n_steps)

In [ ]:
X3 = X3.reshape((X3.shape[0], X3.shape[1], n_features))

In [ ]:
model.fit(X3, y3, epochs=1000, verbose=0)

In [ ]:
resArray3 = list(X3[-1])

In [ ]:
for i in range(0 , 24):
  abc = resArray3[i:i+8]
  x_input = array(abc).astype('float32')
  x_input = x_input.reshape((1, n_steps, n_features))
  resArray3.append(model.predict(x_input, verbose=0))

In [ ]:
output = array(resArray3[8:]).flatten()

In [ ]:
result['NSN Total'] = output

In [ ]:
result['State'] = 'Andhra Pradesh'

In [ ]:
result['District'] = 'Anantapur'

In [ ]:
result

     NSP Total       Year  Relapse Total   NSN Total           State   District
0   717.975586 2019-03-31      51.212509  222.665756  Andhra Pradesh  Anantapur
1   769.906433 2019-06-30      53.407024  231.116425  Andhra Pradesh  Anantapur
2   662.807373 2019-09-30      44.404057  228.770691  Andhra Pradesh  Anantapur
3   561.690735 2019-12-31      40.368797  331.477448  Andhra Pradesh  Anantapur
4   697.235168 2020-03-31      47.737610  260.660431  Andhra Pradesh  Anantapur
5   727.795166 2020-06-30      42.549442  305.552338  Andhra Pradesh  Anantapur
6   794.640808 2020-09-30      41.691280  296.155029  Andhra Pradesh  Anantapur
7   649.653870 2020-12-31      38.951332  210.888855  Andhra Pradesh  Anantapur
8   666.399780 2021-03-31      41.525036  252.662216  Andhra Pradesh  Anantapur
9   704.539124 2021-06-30      37.621136  223.972961  Andhra Pradesh  Anantapur
10  731.209961 2021-09-30      33.491161  261.272644  Andhra Pradesh  Anantapur
11  664.444702 2021-12-31      33.207790  288.003998  Andhra Pradesh  Anantapur
12  651.278442 2022-03-31      34.029644  226.445755  Andhra Pradesh  Anantapur
13  705.311096 2022-06-30      32.236443  322.898163  Andhra Pradesh  Anantapur
14  691.129639 2022-09-30      27.494923  270.612488  Andhra Pradesh  Anantapur
15  613.325684 2022-12-31      28.108004  245.322922  Andhra Pradesh  Anantapur
16  613.888367 2023-03-31      28.284830  257.094666  Andhra Pradesh  Anantapur
17  657.978638 2023-06-30      26.260681  198.011230  Andhra Pradesh  Anantapur
18  653.909729 2023-09-30      23.720217  275.449799  Andhra Pradesh  Anantapur
19  607.019470 2023-12-31      24.129452  279.171631  Andhra Pradesh  Anantapur
20  608.008118 2024-03-31      23.553452  260.233704  Andhra Pradesh  Anantapur
21  603.772583 2024-06-30      21.619570  282.749176  Andhra Pradesh  Anantapur
22  605.665833 2024-09-30      19.914495  246.700882  Andhra Pradesh  Anantapur
23  555.612427 2024-12-31      20.578651  282.924561  Andhra Pradesh  Anantapur