In [ ]:
import pandas as pd
import numpy as np
import tensorflow as tf
tfk = tf.keras
tf.keras.backend.set_floatx("float64")
import tensorflow_probability as tfp
tfd = tfp.distributions
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import IsolationForest

In [ ]:
train = pd.read_csv('Final_Train.csv')

In [ ]:
test = pd.read_csv('Final_Test.csv')

In [ ]:
scaler = StandardScaler()
detector = IsolationForest(n_estimators=1000, behaviour="deprecated", contamination="auto", random_state=0)
neg_log_likelihood = lambda x, rv_x: -rv_x.log_prob(x)

In [ ]:
train.head()

   AGRA  AIZAWL  ALAPPUZHA  ...  55-64  NEP Total  SumOfHIV_infected
0     1       0          0  ...     54        275                  0
1     1       0          0  ...     75        391                  0
2     1       0          0  ...     52        363                  0
3     1       0          0  ...     57        291                  0
4     1       0          0  ...     80        378                  0

[5 rows x 97 columns]

In [ ]:
final = train.drop(['Pediatric' , 'Geriatric' , '15-24' , '25-34' , '35-44' , '45-54' , '55-64' , 'SumOfHIV_infected'] , axis = 1)

In [ ]:
final = final.fillna(method ='bfill')

In [ ]:
data = final

In [ ]:
columns = data.columns

In [ ]:
X_t = scaler.fit_transform(data)

In [ ]:
is_inlier = detector.fit_predict(X_t)
X_t = X_t[(is_inlier > 0),:]

In [ ]:
dataset = pd.DataFrame(X_t, columns=columns)

In [ ]:
n_epochs = 50
n_samples = dataset.shape[0]
n_batches = 10
batch_size = np.floor(n_samples/n_batches)
buffer_size = n_samples

In [ ]:
inputs = ['AGRA', 'AIZAWL', 'ALAPPUZHA', 'ALLAHABAD', 'ALWAR', 'AMRAVATI',
       'AMRITSAR', 'BATHINDA', 'BHARUCH', 'BHOPAL', 'BULANDSHAHR', 'CACHAR',
       'CHANDIGARH', 'CHENNAI', 'CHITTOOR', 'COIMBATORE', 'CUTTACK',
       'DAKSHINAKANNADA', 'DEHRADUN', 'DHANBAD', 'DIBRUGARH', 'DURG',
       'EASTKHASIHILLS', 'ERNAKULAM', 'FATEHGARHSAHIB', 'FIROZABAD', 'GANJAM',
       'GHAZIABAD', 'GOLAGHAT', 'GUNTUR', 'GWALIOR', 'HASSAN', 'INDORE',
       'JABALPUR', 'JAIPUR', 'JALANDHAR', 'JALGAON', 'JAMNAGAR', 'JHANSI',
       'JODHPUR', 'KANPURNAGAR', 'KOLHAPUR', 'KOLLAM', 'KORBA', 'KOTTAYAM',
       'KOZHIKODE', 'KURNOOL', 'LATUR', 'LUCKNOW', 'LUDHIANA', 'MADURAI',
       'MORADABAD', 'NAGPUR', 'NASHIK', 'NORTHGOA', 'PALAKKAD', 'PATIALA',
       'PUNE', 'RAJKOT', 'RANCHI', 'RAYAGADA', 'SAGAR', 'SALEM', 'SANGLI',
       'SIRMAUR', 'SOLAN', 'SOLAPUR', 'SONBHADRA', 'SONITPUR', 'SOUTHGOA',
       'SURAT', 'THANE', 'THIRUVANANTHAPURAM', 'VADODARA', 'VALSAD',
       'VARANASI', 'VISAKHAPATNAM', 'year', 'quarter', 'rainfall',
       'relative_humidity', 'average_temperature',
       'NSP Total/ NewMicConf Total', 'Relapse Total', 'NSN Total', 'so2',
       'no2', 'rspm']

In [ ]:
outputs = ['NEP Total']

In [ ]:
n_train = int(0.7*dataset.shape[0])

In [ ]:
data = tf.data.Dataset.from_tensor_slices((dataset[inputs].values, dataset[outputs].values))
data = data.shuffle(n_samples, reshuffle_each_iteration=True)

In [ ]:
data_train = data.take(n_train).batch(batch_size).repeat(n_epochs)
data_test = data.skip(n_train).batch(1).repeat(n_epochs)

In [ ]:
prior = tfd.Independent(tfd.Normal(loc=tf.zeros(len(outputs), dtype=tf.float64), scale=1.0), reinterpreted_batch_ndims=1)

In [ ]:
model = tfk.Sequential([
tfk.layers.InputLayer(input_shape=(len(inputs),), name="input"),
tfk.layers.Dense(10, activation="relu", name="dense_1"),
tfk.layers.Dense(tfp.layers.MultivariateNormalTriL.params_size(
len(outputs)), activation=None, name="distribution_weights"),
tfp.layers.MultivariateNormalTriL(len(outputs), activity_regularizer=tfp.layers.KLDivergenceRegularizer(prior, weight=1/n_batches), name="output")
], name="model")

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/tensorflow/python/ops/linalg/linear_operator_lower_triangular.py:158: calling LinearOperator.__init__ (from tensorflow.python.ops.linalg.linear_operator) with graph_parents is deprecated and will be removed in a future version.
Instructions for updating:
Do not pass `graph_parents`.  They will  no longer be used.

In [ ]:
model.compile(optimizer="adam", loss=neg_log_likelihood)

In [ ]:
model.fit(data_train, epochs=n_epochs, validation_data=data_test, verbose=False)

In [ ]:
model.summary()

Model: "model"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_1 (Dense)              (None, 10)                890
_________________________________________________________________
distribution_weights (Dense) (None, 2)                 22
_________________________________________________________________
output (MultivariateNormalTr ((None, 1), (None, 1))    0
=================================================================
Total params: 912
Trainable params: 912
Non-trainable params: 0
_________________________________________________________________

In [ ]:
tfp.layers.DenseFlipout(10, activation="relu", name="dense_1")

In [ ]:
samples = 500
iterations = 10
test_iterator = tf.compat.v1.data.make_one_shot_iterator(data_test)
X_true, Y_true, Y_pred = np.empty(shape=(samples, len(inputs))), np.empty(shape=(samples, len(outputs))), np.empty(shape=(samples, len(outputs), iterations))
for i in range(samples):
    features, labels = test_iterator.get_next()
    X_true[i,:] = features
    Y_true[i,:] = labels.numpy()
    for k in range(iterations):
        Y_pred[i,:,k] = model.predict(features)

In [ ]:
 Y_pred.shape

(500, 1, 10)

In [ ]:
Y_true.shape

(500, 1)

In [ ]:
pred = []

In [ ]:
for i in Y_pred:
  pred.append(i.mean())

In [ ]:
from sklearn.metrics import r2_score

In [ ]:
r2_score(Y_true , pred)

0.8838404244115738