In [1]:
import pandas as pd

In [2]:
final = pd.read_csv('FINAL.csv')

In [3]:
final.head()

,Unnamed: 0,Akola,Amravati,Aurangabad,Chandrapur,Jalgaon,Jalna,Kolhapur,LATUR,Nagpur,...,Sangli,Solapur,Thane,SumOfHIV_Tested,SumOfHIV_infected,Total,Geriartic,Pediatric,Year,Month
0,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0.0,0.0,396,20.0,1.0,2008,3
1,1,1,0,0,0,0,0,0,0,0,...,0,0,0,0.0,0.0,397,32.0,1.0,2008,3
2,2,0,0,0,1,0,0,0,0,0,...,0,0,0,0.0,0.0,576,22.0,2.0,2008,3
3,3,0,0,0,0,1,0,0,0,0,...,0,0,0,0.0,0.0,1070,38.0,7.0,2008,3
4,4,0,0,0,0,0,1,0,0,0,...,0,0,0,0.0,0.0,409,24.0,4.0,2008,3

In [10]:
final.drop('SumOfHIV_Tested' , inplace = True , axis = 1)

In [12]:
final.shape

(742, 22)

In [6]:
test = pd.read_csv('Prediction Test Dataset.csv')

In [13]:
test.shape

(448, 21)

In [8]:
test.drop('Unnamed: 0' , axis = 1 , inplace = True)

In [16]:
X = final.drop('Total' ,axis = 1)

In [17]:
from sklearn.preprocessing import MinMaxScaler

In [18]:
scl = MinMaxScaler()

In [19]:
scl.fit(final)

MinMaxScaler(copy=True, feature_range=(0, 1))

In [20]:
final.head()

,Akola,Amravati,Aurangabad,Chandrapur,Jalgaon,Jalna,Kolhapur,LATUR,Nagpur,Nanded,...,Ratnagiri,Sangli,Solapur,Thane,SumOfHIV_infected,Total,Geriartic,Pediatric,Year,Month
0,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0.0,396,20.0,1.0,2008,3
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0.0,397,32.0,1.0,2008,3
2,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0.0,576,22.0,2.0,2008,3
3,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0.0,1070,38.0,7.0,2008,3
4,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0.0,409,24.0,4.0,2008,3

In [21]:
train = scl.fit_transform(final)

In [22]:
train

array([[0.        , 0.        , 1.        , ..., 0.04347826, 0.        ,
        0.        ],
       [1.        , 0.        , 0.        , ..., 0.04347826, 0.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.08695652, 0.        ,
        0.        ],
       ...,
       [0.        , 0.        , 0.        , ..., 0.34782609, 1.        ,
        0.33333333],
       [0.        , 0.        , 0.        , ..., 0.39130435, 1.        ,
        0.66666667],
       [0.        , 0.        , 0.        , ..., 0.43478261, 1.        ,
        1.        ]])

In [23]:
TRAIN = pd.DataFrame(train , columns = final.columns)

In [24]:
TRAIN.head()

,Akola,Amravati,Aurangabad,Chandrapur,Jalgaon,Jalna,Kolhapur,LATUR,Nagpur,Nanded,...,Ratnagiri,Sangli,Solapur,Thane,SumOfHIV_infected,Total,Geriartic,Pediatric,Year,Month
0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.203390,0.223529,0.043478,0.0,0.0
1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.203974,0.364706,0.043478,0.0,0.0
2,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.308591,0.247059,0.086957,0.0,0.0
3,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.597312,0.435294,0.304348,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.210988,0.270588,0.173913,0.0,0.0

In [33]:
X = final.drop('Total' , axis = 1)

In [34]:
y = final['Total']

In [27]:
from sklearn.ensemble import RandomForestRegressor

In [28]:
rf = RandomForestRegressor()

In [35]:
rf.fit(X , y)

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=None, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=100, n_jobs=None, oob_score=False,
                      random_state=None, verbose=0, warm_start=False)

In [36]:
pred = rf.predict(test)

In [38]:
pred.shape

(448,)

In [39]:
output = pd.DataFrame(pred , columns = ['Total No of Cases'])

In [40]:
output.head()

   Total No of Cases
0             224.51
1             240.00
2             228.00
3             227.27
4             237.92

In [41]:
output['Month'] = test['Month']

In [42]:
output['Year'] = test['Year']

In [43]:
output.head()

   Total No of Cases  Month  Year
0             224.51      3  2019
1             240.00      6  2019
2             228.00      9  2019
3             227.27     12  2019
4             237.92      3  2020

In [45]:
output.to_csv(r'Downloads/TB/RandomForestOutput.csv')