In [ ]:
import pandas as pd
from keras.models import Sequential
from keras.layers import Dense, Conv1D, Flatten

In [ ]:
train = pd.read_csv("finaltrain1.csv")

In [ ]:
test = pd.read_csv("Final_Test1.csv")

In [ ]:
train.head()

   Assam  Kerala  Punjab  ...  Total Failure  SumOfHIV_Tested  SumOfHIV_infected
0      1       0       0  ...              2                0                  0
1      1       0       0  ...              9                0                  0
2      1       0       0  ...              8                0                  0
3      1       0       0  ...              8                0                  0
4      1       0       0  ...              5               20                  0

[5 rows x 76 columns]

In [ ]:
X = train.drop("NSP Total/ NewMicConf Total" , axis = 1)

In [ ]:
y = train["NSP Total/ NewMicConf Total"]

In [ ]:
test.columns = X.columns

In [ ]:
X.shape

(2332, 75)

In [ ]:
model = Sequential()
model.add(Conv1D(32, 2, activation="relu", input_shape=(75, 1)))
model.add(Flatten())
model.add(Dense(64, activation="relu"))
model.add(Dense(1))
model.compile(loss="mse", optimizer="adam")

In [ ]:
x = X.values

In [ ]:
x = x.reshape(2332 , 75 , 1)

In [ ]:
model.fit(x, y, batch_size=12,epochs=200, verbose=0)

In [ ]:
Y = test.values

In [ ]:
test.shape

(1484, 75)

In [ ]:
Y = Y.reshape(1484 , 75 , 1)

In [ ]:
pred = model.predict(Y)

In [ ]:
df = pd.read_csv("PredictionDataFrame.csv")

In [ ]:
CNN_Output = pd.concat([df , prediction] ,  axis = 1)

In [ ]:
prediction = pd.DataFrame(pred , columns = ["Total No of TB Cases"])

In [ ]:
CNN_Output.to_csv("CNN_Output.csv" , index = False)

In [ ]:
from keras.applications import ResNet50

In [ ]:
resnet = ResNet50(include_top=False , input_shape=x.shape , weights=None)

In [ ]:
model2 = Sequential()

In [ ]:
from keras.layers import Dropout

In [ ]:
model2.add(resnet)

In [ ]:
model2.add(Dropout(0.2))
model2.add(GlobalAveragePooling2D())
model2.add(Dropout(0.5))
model2.add(BatchNormalization())
#model.add(Dense(5, activation=elu))
model2.add(Dense(1, activation="linear"))

In [ ]:
model2.add(Flatten())
model2.add(Dense(1))

In [ ]:
model2.compile(loss= "mean_squared_error" , optimizer="adam", metrics=["mean_squared_error"])

In [ ]:
x = x.astype(float)

In [ ]:
from keras.layers import GlobalAveragePooling2D

In [ ]:
from keras.layers import BatchNormalization